$background-color: #fdfdfd;
$text-color: #020008;
$blue-color: #0066ff;
$gold-color: #e3c39d;
$H1-font-size: 3em;
$H2-font-size: 2em;
$H3-font-size: 1.5em;
$card-describtion-font-size: 1.5em;
$paragraph-font-size: 1.5em;
$nav-font-size: 1.25em;
$title-font: "Madimi one";
$paragraph-font: "Alkatra";

html {
  animation: fadeIn 800ms ease-in;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $blue-color $background-color;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  padding-top: 60px;
  padding-bottom: 76px;
  h1 {
    font-family: $title-font;
    font-size: $H1-font-size;
    color: $blue-color;
    margin: 0;
  }
  .trait {
    border-radius: 20px;
    background-color: $gold-color;
    height: 6px;
    margin-left: 40%;
    width: 60%;
  }
}
section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  min-height: 90vh;

  .h2-section {
    grid-column: 2 / span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-family: $title-font;
      font-size: 3.5em;
      color: $text-color;
      margin: 0;
      grid-column: span 5;

      span {
        color: $blue-color;
      }
    }
    .reseau {
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .trait1 {
        margin-top: 3px;
        border-radius: 20px;
        background-color: $blue-color;
        height: 6px;
        width: 40%;
      }
      .buttonReseau {
        display: flex;
        z-index: 1;
        flex-direction: row;
        gap: 20px;
        margin-left: -5px;
        margin-right: -5px;
        a {
          border-radius: 100%;
          background: #fff;
          padding: 10px;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
      .trait2 {
        margin-top: 3px;
        border-radius: 20px;
        background-color: $blue-color;
        height: 6px;
        width: 5%;
        z-index: 0;
      }
    }
  }

  .img-section {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;
    }
  }
  .skill-section {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      width: 100%;
      gap: 48px;
      position: relative;
      .fond {
        height: auto;
      }
      #haut {
        position: absolute;
        top: 0;
        left: 0;

      }
      .titreH2 {
        padding-top: 102px;
        grid-column: 2 / span 8;
        font-family: $title-font;
        font-size: $H3-font-size;
        .traitbleu {
          border-radius: 20px;
          background-color: $blue-color;
          height: 6px;
          width: 35%;
        }
      }
      .skill-row {
        max-width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        box-sizing: border-box;
        overflow: hidden;
      }
      .skill-container {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        box-sizing: border-box;
      }
      .skill-gen {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px;
        height: 60px;
        padding-bottom: 102px;

        grid-column: span 12;
        p {
          font-family: $paragraph-font;
          font-size: $card-describtion-font-size;
          color: $blue-color;
          font-weight: bold;
        }
      }
      #bas {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .about-section {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    .contenu-section {
      grid-column: span 12;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;      
      height: 100%;
      p {
        grid-column: 1 / span 6;
        font-size: $paragraph-font-size;
        font-family: $paragraph-font;
        font-weight: regular;
        text-align: justify;
        height: max-content;
        align-self: center;
      }
      .section-image {
        grid-column: 8 / span 5;
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        .fond {
          height: auto;
        }
        #haut {
          position: absolute;
          top: 0;
          left: 0;
        }

        #bas {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .imageWrapper {
          width: 100%;
          overflow: hidden;
          img {
            border-radius: 15px;
            margin-left: 32px;
            margin-top: 32px;
            width: calc(100% - 64px);
            height: calc(100% - 64px);
            object-fit: cover;
          }
        }
      }
    }
  }
  .project-section {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    .container {
      width: 100%;
      gap: 48px;
      position: relative;
      .fond {
        height: auto;
      }
      #haut {
        position: absolute;
        top: 0;
        left: 0;
      }
      .cardContainer {
        box-sizing: border-box;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
      }
  
      #bas {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .contact-section {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .container {
    width: 100%;
    gap: 48px;
    position: relative;
  }
  .fond {
    height: auto;
  }
  #haut {
    position: absolute;
    top: 0;
    left: 0;
  }
  .all {
    padding: 55px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    .infoContainer {
      display: flex;
      justify-content: center;
      gap: 30px;
      .info {
        display: flex;
        padding: 10px;
        flex:1;
        align-items: center;
        border-radius: 15px;
        border: 3px solid $gold-color;
        p {
          width: 100%;
          color: $text-color;
          font-family: $paragraph-font;
          font-size: $paragraph-font-size;
          font-weight: normal;
        }
      }
    }
    a {
      padding: 10px 20px;
      gap: 10px;
      text-decoration: none;
      background-color: $blue-color;
      border-radius: 15px;
      color: $background-color;
      font-family: $paragraph-font;
      font-size: $paragraph-font-size;
      border:3px solid $background-color;
      transition: 0.1s;

      &:hover{
        border:3px solid $blue-color;
        background-color: $background-color;
        color:$blue-color;
      }
    }
  }

  #bas {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
