@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Madimi+One&display=swap');
$background-color: #FDFDFD;
$text-color: #020008;
$card-describtion-font-size: 1.5em;
$paragraph-font-size: 1.5em;


:root{
  max-width: calc(100% - 2 * 80px);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 24px;
  margin: 0;
  padding: 0 80px;
  background-color: $background-color;
  color: $text-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

}

body{
  margin: 0;
  padding: 0;

}