$background-color: #FDFDFD;
$text-color: #020008;
$blue-color:0066FF;
$gold-color:E3C39D;
$H1-font-size: 4em;
$H2-font-size: 3.5em;
$H3-font-size: 3em;
$card-describtion-font-size: 1.5em;
$paragraph-font-size: 1.5em;


:root{
  background-color: $background-color;
  color: $text-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}